# Environment variables
.env
.env.*
!.env*example

# Database
db_data/

# Dependencies
node_modules/
.next/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# SSL/TLS Certificates
/etc/letsencrypt/
certbot/

.DS_Store
