name: PR Check

on:
  pull_request:
    branches: [ main ]

jobs:
  frontend:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - name: Build frontend Docker image
        run: docker build -t letsgo-frontend:test ./frontend

  backend:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - name: Build backend Docker image
        run: docker build -t letsgo-backend:test ./backend 